<% @employees.each do |emp| %>
  <div class="employee-box">
    <h3><%= emp.name %></h3>
    <%= emp.job_title %>
    <%= emp.worker_number %>
    <%= button_to "Delete", emp, method: :delete, data: { confirm: "Really?" } %>
  <div>
<% end %>