
<%= render partial: "form", locals: {employee: @employee} %>

<% if @employee.errors.any? %>
  <% @employee.errors.full_messages.each do |m| %>
    <div class="errors">
      <p><%= m %></p>
    </div>
  <% end %>
<% end %>