<h3><%= @employee.name %> </h3>
<% @employee.repair_orders.all.each do |ro| %>
  <% if ro.finished == false %>
    <div class="ro-box">
      <%= ro.customer.name %>
    </div>
  <% end %>
<% end %>
<%= button_to "Delete", @employee, method: :delete, data: { confirm: "Really?" } %>