
<%= render partial: "form", locals: {job: @job} %>

<% if @job.errors.any? %>
  <% @job.errors.full_messages.each do |m| %>
    <div class="errors">
      <p><%= m %></p>
    </div>
  <% end %>
<% end %>