
<%= render partial: "form", locals: {customer: @Customer} %>


<% if @customer.errors.any? %>
  <% @customer.errors.full_messages.each do |m| %>
    <div class="errors">
      <p><%= m %></p>
    </div>
  <% end %>
<% end %>