
  <% @repair_orders.each do |ro| %>
  <div>
    <%= link_to "#{ro.id}", repair_order_path(ro) %>
    <%= ro.vehicle.customer.name %>
    <%= "#{ro.vehicle.make} - #{ro.vehicle.model}" %>
    <% if employee? %>
      <%= button_to "Delete", ro, method: :delete, data: { confirm: "Really?" } %>
    <% end %>
    </div>
  <% end %>